*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
}
.eyes{
    position: absolute;
    top: 162px;
    transform: translateY(-46%);
    width: 100%;
    text-align: center;
}
.eye{
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 13.5px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 6px solid rgba(0, 0, 0, 0.678);
}

.eye-ball{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    top: 20%;
    left:30%;
    transform: translate(50%, 50%);
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(242, 255, 0);
}
#robot{
    background-image: url(./robot-arms/robot.png);
    background-repeat: no-repeat;
    height: 640px;
    width: 543px;
    position: relative;
    top: 32%;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
}
#right-button{
    background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 68%;
    left: 61.5%;
    border: 5px solid black;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-button{
    background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 68%;
    left: 33.5%;
    border: 5px solid black;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screen{
    border-radius: 3px;
    position: absolute;
    top: 49.20%;
    left: 33.5%;
    width: 183px;
    border: 11px solid rgb(51, 51, 51);
    background-color: black;
}
#left-button img, #right-button img{
    width: 50%;
}
#left-button:hover, #right-button:hover{
    transition: 0.4s;
}
#left-arm{
    display: inline-block;
    position: relative;
    top: 62%;
    transition: 1s;
    z-index: 500;
}
#left-arm:hover{
    transition: 1s;
    position: relative;
    top: 58.20%;
    transform-origin: center;
    transform: rotate(15deg);
}
#right-arm{
    display: inline-block;
    position: relative;
    top: 64%;
    left: 55%;
    transition: 1s;
    z-index: 500;
}
#right-arm:hover{
    display: inline-block;
    transition: 1s;
    position: relative;
    left: 55.5%;
    top: 61.20%;
    transform-origin: center;
    transform: rotate(-15deg);
}
#top-button{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #604AFF;
    border: 4px solid black;
    box-shadow: 1px 1px 10px black;
    top: 0.3%;
    left: 44.5%;
}
#popover-title-html{
    text-align: center;
}
.progress{
    position: absolute;
    width: 97px;
    height: 16px;
    top:67.7%;
    left: 41.8%;
    border: 2px solid black;
    border-radius: 10px;
}
#mouth{
    position: absolute;
    top: 30%;
    left: 21.5%;
    transition: 0.1s;
    cursor: pointer;
}
#mouth:active{
    top: 33%;
    transition: 0.1s;
}
#box{
    position: absolute;
    bottom: 1%;
    left: -19%;
}
.hovered{
    filter: brightness(1.5);
}
.moveable{
    cursor: pointer;
}
.offcanvas{
    background-color: rgba(0, 0, 0, 0.589);
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offcanvas-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
